{
    "presets": ["@babel/react","@babel/env", "react-app"],
    "plugins": [
        "@babel/plugin-transform-runtime",
        "@babel/plugin-syntax-dynamic-import",
        "react-hot-loader/babel",
        "@babel/plugin-proposal-function-bind",
        ["import", {
            "libraryName": "i-mayfly",
            "libraryDirectory": "lib/component",
            "style": "css"
        }],
        ["import", {
            "libraryName": "antd",
            "libraryDirectory": "es",
            "style": "css" // `style: true` 会加载 less 文件
        }, "antd"]
    ]
}
