// style config
$title_b:#fafafa !default; //标题栏背景色
$side_b:#f4f4f4 !default; //描边 & 模块分割底色
$side_strong:#cacaca !default; //按钮描边

$divider_b: #E5E5E5 !default; //divider分割线
$hint_b: #888888 !default; //hint & disable
$icon_b: #666666 !default; //icon & secondary
$text_b: #222222 !default; //text
$divider_w: rgba(white, .12) !default; //divider
$hint_w: rgba(white, .3) !default; //hint disable
$icon_w: rgba(white, .7) !default; //icon secondary
$text_w: rgb(255, 255, 255) !default; //text
//status
$success_green:#03b266 !default;
$fail_red:#ff4444 !default;
$warn_yellow:#fc7e36 !default;
$common_blue: #318FE2 !default;
$disable:#898183 !default;

$disable_bg: #F7F8F9;
$disable_c:#B3B9C1;
$readOnly_c:#787E85;
$readOnly_bg:#F7F8F9;
//shadow
$shadow_color: 0 2px 2px 0 rgba(0, 0, 0, 0.05),
0 1px 4px 0 rgba(0, 0, 0, 0.08),
0 3px 1px -2px rgba(0, 0, 0, 0.2) !default;
//paper
$paper_color: #fff !default;

// Gobal
$w_space: -5px !default;
$theme_color:#26a597 !default;

// input
$input_border_color: $divider_b !default;
$input_outline_color: $theme_color !default;
$input_radius: 0px !default;
$input_fs: 14px !default;
$placeholder_b: #cccccc !default; //input 级别的提示
$placeholder_fs: 14px !default;
$checkbox_default_bg:#F6F8F9 !default;
$checkbox_default_c: inherit !default;
$checkbox_focus_bg: $theme_color !default;
$checkbox_focus_c: inherit !default;
$select_hover_color:$text_b !default;

// btn
$hoverWaveColor: $theme_color !default;
$btn_radius: 3px !default;
$btn_action_radius: 50px !default;
$btn_fs: 12px !default;

// table
$table_odd_bg: #F6F8F9 !default;
$table_header_bg: #fff !default;
$table_header_c: #787E85 !default;
$table_header_fs: 14px !default;
$table_hover: #E8EBED !default;

// steps
$steps_bar_bg:$table_odd_bg !default;

// tab
$tab_top_color:$side_b !default;
$tab_active_color:$theme_color !default;

// ---------------------------模板------------------------
@mixin cicle($size:28px) {
    flex-shrink: 0;
    display: inline-block;
    width: $size;
    height: $size;
    border-radius: 100%; // border: solid 1px #ccc;
    overflow: hidden;

    >img {
        width: 100%;
        height: 100%;
    }
}

@mixin square($size:28px) {
    flex-shrink: 0;
    display: inline-block;
    width: $size;
    height: $size;
    overflow: hidden;

    >img {
        width: 100%;
        height: 100%;
    }
}

@mixin paper($radius) {
    background: $paper_color;
    border-radius: $radius;
}

@mixin flex($scale:1) {
    display: block;
    flex: $scale;
}

@mixin animate($time:0.3s) {
    transition: all $time;
}

@mixin shadow($color:$shadow_color) {
    box-shadow: $color;
}

//限制一行的情况需要另外处理
@mixin ellip($row:2) {
    display: -webkit-box;
    overflow: hidden;
    box-orient: vertical;
    -webkit-line-clamp: $row;
    -webkit-box-orient: vertical;
}

@mixin btn($size:0px) {
    display: inline-block;
    border-radius: $size;
    text-align: center;
    cursor: pointer;

    &:disabled {
        cursor: not-allowed;
        background-color: $disable !important;
    }

    &:active {
        opacity: .8;
    }

    outline: none !important;

    &:focus {
        outline: none !important;
    }
}

@mixin hoverWave($hoverColor:$hoverWaveColor) {
    position: relative;
    overflow: hidden;

    &:after {
        content: '';
        position: absolute;
        top: 50%;
        right: -100%;
        transform: scale(0);
        width: 100%;
        height: 100%;
        border-radius: 200px;
        background-color: rgba($color:$hoverColor, $alpha: .1);
        transition: all .3s;
    }

    &:hover {
        &:after {
            transform: scale(3.5);
            left: -100%;
            right: unset;
        }
    }
}

@mixin disableOutline() {
    outline: none !important;

    &:focus {
        outline: none !important;
    }
}
.btn-toggle {
    cursor: pointer;
    display: inline-block;
    width: 17px;
    height: 17px;
    text-align: center;
    line-height: 14px;
    border: 1px solid #e9e9e9;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #fff;
}

.btn-toggle:after {
    content: '+';
}

.btn-hidden:after {
    content: '-' !important;
}

.table-header {
    background-color: $table_header_bg;
    color: $table_header_c;
    font-size: $table_header_fs;
}

.table-title {
    transition: all .3s;
}

.table-title:hover {
    // background-color: #eaeaea;
}

.not-current-month {
    color: rgba(0,0,0,.25);
}

.mayfly-picker-cell-today::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    border: 1px solid #1890ff;
    border-radius: 2px;
    content: '';
}

.mayfly-picker-cell-selected {
    color: #fff;
    background: #1890ff;
}

.table-list {
    transition: all .3s;
    border-left: 2px transparent solid;
}

.table-list span {
    word-break: break-all;
}

.table-list:hover {
    background-color: $table_hover;
}

.w80 {
    width: 80px;
}

.table-content {
    /* overflow: auto */
}

.table-fix {
    position: sticky;
    top: 0;
    z-index: 19;
}

.slucky-table {
    position: relative;
    z-index: 1;
}

.slucky-table::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 2px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 8px;
}

.slucky-table::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 2px;
    /* -webkit-box-shadow: inset 0 0 5px #fafafa; */
    background: #f4f4f4;
}

.slucky-table::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    /* -webkit-box-shadow: inset 0 0 5px #fafafa; */
    border-radius: 2px;
    background: transparent;
}

.table-loading {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .5);
    top: 0;
    left: 0;
    text-align: center;
    z-index: 19;
}

.mayfly-picker-suffix {

}

.border-color-d9d9d9 {
    border: 1px solid #d9d9d9;
    border-radius: 3px;
}

.border-color-d9d9d9:hover {
    border-color: #40a9ff;
}

.mayfly-picker-date-input {
    border: none;
    outline: none;
    padding: 5px 0;
}


/* tab动态增加动画 */
.mayfly-dataePicker-wrap-enter {
    opacity: .01;
  }
   
.mayfly-dataePicker-wrap-enter.mayfly-dataePicker-wrap-enter-active {
    opacity: 1;
    transition: all 500ms ease-in;
}
   
.mayfly-dataePicker-wrap-leave {
    opacity: 1;
}
   
.mayfly-dataePicker-wrap-leave.mayfly-dataePicker-wrap-leave-active {
    opacity: .01;
    transition: all 500ms ease-in;
} 

.mayfly-datePicker-panel-header {
    height: 30px;
}

.mayfly-datePicker-panel-header-year-prev {
    position: relative;
    transform: rotate(-45deg);
    width: 7px;
    height: 7px;
}

.mayfly-datePicker-panel-header-year-prev::before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 7px;
    height: 7px;
    border: 0 solid currentColor;
    border-width: 1.5px 0 0 1.5px;
    content: '';
}

.mayfly-datePicker-panel-header-year-prev::after {
    position: absolute;
    top: 4px;
    left: 4px;
    display: inline-block;
    width: 7px;
    height: 7px;
    border: 0 solid currentColor;
    border-width: 1.5px 0 0 1.5px;
    content: '';
}

.mayfly-datePicker-panel-header-month-prev {
    position: relative;
    transform: rotate(-45deg);
    width: 7px;
    height: 7px;
}


.mayfly-datePicker-panel-header-month-prev::after {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 7px;
    height: 7px;
    border: 0 solid currentColor;
    border-width: 1.5px 0 0 1.5px;
    content: '';
}


//normal table-----------------

//
// Tables
// --------------------------------------------------

$table-cell-padding: 8px !default;
//** Padding for cells in `.table-condensed`.
$table-condensed-cell-padding: 5px !default;
$line-height-base: 1.428571429 !default; // 20/14

caption {
    padding-top: $table-cell-padding;
    padding-bottom: $table-cell-padding;
    color: $text_b;
    text-align: left;
}

th {
    text-align: left;
}


.c-loading {
    position: relative;
    display: inline-block;
    font-size: 35px;
    width: 1em;
    height: 1em;
}

.pop-box {
    display: inline-block;
}
