<html>
    <style>
        .container {
            display: flex;
        }
        .left {
            width: 400px;
        }
        .right {
            flex: 1;
            overflow: auto;
            width: 0;
        }
    </style>
    <body>
        <div class="container">
            <div class="left"></div>
            <div class="right">ljd;dljsf;jdfdjfkljkdsjfjfkfjkdsjf接口的金风科技发快递金风科技飞机发动机房价的看法佳都科技疯狂夺金奋达科技分开交罚款交罚款点击放大看风景的空间放得开了附近的咖啡机jsKjdkfjsdkfjdksjfdksjfkajJkljdkfjdksfjdkasfjdskjfdksjfk健康的减肥看来大家是否考虑的金风科技疯狂夺金风口浪尖疯狂的洛杉矶 的看法吉林大街疯狂老爹就发登记反馈链接打开链接发几点打开了房间枯鲁杜鹃疯狂老爹就发打开了福晶科技付款了电视剧打卡机奋达科技安抚鲁大师看见风口浪尖大幅</div>
        </div>
    </body>
   
</html>